.dropbox-video{
    border: 2px dashed #D4D4D4;
    box-sizing: border-box;
    border-radius: 6px;
    text-align: center;
    width: 100%;
    height:100%;
    transition: border .24s ease-in-out;
    padding-top: 6em;
    padding-bottom: 6em;
}

.Box-video {
    font-family: PT Sans sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1rem;
    color: #8B8B8B;
}

